<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .Banner{
            margin-top: 62px;
            width: 100%;
            height: 658px;
            background-repeat: no-repeat;
        }
        .Banner{
            margin-top: 62px;
            width: 100%;
            height: 658px;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

    <section layout:fragment="content1">
        <div class="image">
            <img src="/images/background.png" class="Banner" width="100%" height="100%">
        </div>
    </section>

</body>
</html>